{% extends 'base.html' %}

{% block h1 %}
Посты
{% endblock %}

{% block content %}
  {% for post in posts %}
    <div class='blog-post'>
      <h3>{{ post.title }}</h3>
      <p>
        <span class="text-muted">
        {{ post.created }} / автор:
        </span>
        <a href="/author/{{ post.author }}">{{ post.author }}</a>
        <span class="text-muted">
        / тема: {{ post.topic }}
        </span>
      </p>
      <p>{{ post.body }}</p>
    </div>
    <hr>
  {% endfor %}
{% endblock %}